"
if has('vim_starting')
  if exists('$SRC')
    set runtimepath^=$SRC/vim runtimepath+=$SRC/vim/after
  elseif isdirectory(expand('~/Code'))
    set runtimepath^=~/Code/vim runtimepath+=~/Code/vim/after
  elseif isdirectory(expand('~/src'))
    set runtimepath^=~/src/vim runtimepath+=~/src/vim/after
  endif
  runtime! bundle/vim-pathogen/autoload/pathogen.vim
  silent! execute pathogen#infect("bundle/{}")
  silent! execute pathogen#infect("test/{}")
endif

" Section: Defaults  {{{
" ---------------------
":so ${HOME}/.vim/vim.addons/default.vim
"}}}
" Section: Custom Functions {{{1
" ---------------------

function! ToggleNumber()
    if(&relativenumber == 1)
        set number
    else
        set relativenumber
    endif
endfunc

nnoremap <C-n> :call ToggleNumber()<cr>
"nnoremap <C-l> :call s:toggle_list()<cr>
"}}}

" Section: Mappings {{{1
" ----------------------
cnoremap <C-O>      <Up>
inoremap <M-o>      <C-O>o
inoremap <M-O>      <C-O>O
inoremap <M-i>      <Left>
inoremap <M-I>      <C-O>^
inoremap <M-A>      <C-O>$
noremap! <C-J>      <Down>
noremap! <C-K><C-K> <Up>


"matchpairs use %
set matchpairs+==:;


