
:so ${HOME}/.vim/vim.addons/default.vim
:so ${HOME}/.vim/vim.addons/load.pathogen.vim
:so ${HOME}/.vim/vim.addons/neocomplete.conf.vim
:so ${HOME}/.vim/vim.addons/ctrpl.conf.vim
:so ${HOME}/.vim/vim.addons/filetype.conf.vim
:so ${HOME}/.vim/vim.addons/my.custom.vim
:so ${HOME}/.vim/vim.addons/indexed.search.vim
:so ${HOME}/.vim/vim.addons/tern.conf.vim
:so ${HOME}/.vim/vim.addons/fold.vim

" set alignment
:so ${HOME}/.vim/vim.addons/tabularize.conf.vim

"code-navigation
":so ${HOME}/.vim/vim.addons/omnicomplete.conf.vim
":so ${HOME}/.vim/vim.addons/cscope.conf.vim
":so ${HOME}/.vim/vim.addons/ctags.conf.vim
":so ${HOME}/.vim/vim.addons/tlist.conf.vim
":so ${HOME}/.vim/vim.addons/spell.check.vim
":so ${HOME}/.vim/vim.addons/hard.reset.vim

"ln -sf ${PWD}/vim_config  ${HOME}/.vimrc
":so ${HOME}/.vim/vim.addons/dev.null.vim
":so ${HOME}/.vim/vim.addons/solarized.color.vim
":so ${HOME}/.vim/vim.addons/nerdtree.conf.vim
":so ${HOME}/.vim/vim.addons/filetype.conf.vim

"colorscheme cake
colorscheme default

"matchpairs use %
set matchpairs+==:;




