priority -50

###########################################################################
#                            TextMate Snippets                            #
###########################################################################

snippet fn
function() {}
endsnippet 

snippet mef
module.exports = function ($0) {};
endsnippet 

# vim:ft=snippets:
